<div class="splash-container" [class.fade-out]="!visible">
  <div class="splash-content">

    <div class="logo-circle">
      <svg width="56" height="56" viewBox="0 0 24 24" fill="none">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5z" fill="white"/>
      </svg>
    </div>

    <h1 class="app-name">OINSExpress</h1>
    <p class="app-tagline">Supervision intelligente de vos livraisons</p>

    <div class="loader">
      <div class="loader-bar"></div>
    </div>

  </div>
</div>
